.profile-header-wrapper {
  height: 150px;
  margin-bottom: 25px;
  padding: 20px;
  background: linear-gradient(135deg, #e8f3e8 0%, #fdf0e3 0%);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;

  .profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;

    .username {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .profile-image-wrapper {
    position: relative;

    .change-image-btn {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      background: none;
      border: none;
      cursor: pointer;
    }

    .change-image-text {
      display: block;
      width: 24px;
      height: 24px;
      background: url("../../assets/AddneuImage.svg") no-repeat center/contain;
    }

    .profile-image,
    .header__container__account {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    .profile-image {
      border: 2px solid #fff;
      object-fit: cover;
    }
  }
}
