.following-page {
    padding: 20px;
    max-width: 800px; /* Auf 800px verkleinert, damit die Karten untereinander schöner aussehen */
    margin: 0 auto;
    height: 100%; /* Höhe auf 100% des Viewports gesetzt */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 70px);
}
