.follow-container {
    .follow__btn {
        background: none;
        cursor: pointer;
        border-radius: 3px;
        padding: 5px 20px;
        font-size: 15px;
        box-sizing: border-box;
    }
}
